body {
  margin: 0;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #e8e2dc;
}

.sitecontainer {
	display: grid;
	grid-template-columns: 4% 28% 4% 14% 14% 4% 28% 4%;
  grid-template-rows: auto 93.5vh 20vh 65vh;
}

.sitecontainer div {
  font-size: 20px;
}

/* styling for the menubar */

.menubar {
  font-size: 10px;
  background: #4d80d1;
	grid-column: span 8;
	grid-row: 1;
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change the link color to #001230 (dark blue) on hover */
li a:hover {
    background-color: #001230;
}

/* styling for the logo */

.logo {
  height: 2vw;
  margin-top: .55vw;
  margin-left: 1.5vw;
}

/* styling for the cover image */

.intro-cover {
  grid-column: span 8;
  grid-row: 2;
  background-image: url(../img/golden_retriever_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title {
  font-weight: normal;
  font-size: 50px;
  font-family: Open Sans, sans-serif;
  color: white;
  margin-top: 10vh;
}

.cover-header {
  margin-top: 52vh;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: white;
}

/* styling for the mission statement */

.mission {
  margin-top: 5vh;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 3;
  text-align: center;
}

hr {
  margin-top: 5vh;
}

/* styling for the givers div */

.givers {
  margin-top: 17vh;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 4;
  text-align: center;
}

/* styling for the adopters div */

.adopters {
  margin-top: 17vh;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row: 4;
  text-align: center;
}

.adopter-giver-info {
  padding: 0vw 1vw 3vw 1vw;
}

/* styling for the buttons */
.primary-button {
  text-decoration: none;
  display: inline;
  padding: 12px;
  max-width: 20vw;
  height: 2em;
  margin: 0 auto;
  background-color: #4d80d1;
  color: white;
  border-color: #777777;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.primary-button:hover {
  background-color: #001230;
}